{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <form id="dashboard", action="/dashboard" method="post">
        <div class="row">
            <div id="welcome" class="col-7">
                <span id="welcome2"> Welcome back <b>{{username}}</b>,</span><br>
                <span id="message2"> Make <b><u><span id="date"></span></b></u> a good one! </span>
            </div>
            <div id="score_refresh" class="col-5">
                <span id="score"> Achievement: {{rows['score']}} / 15 </span><br>
                <button class="btn btn-primary btn-lg" type="submit" formaction="/summary" formmethod="post">Day Well Spent </button>
            </div>
        </div>
        <div id="row1" class="row">
            <div class="col-3">
                <div class="time-control">
                    0800
                </div>
            </div>
            <div class="col-3">
                <div class="time-control">
                    0900
                </div>
            </div>
            <div class="col-3">
                <div class="time-control">
                    1000
                </div>
            </div>
            <div class="col-3">
                <div class="time-control">
                    1100
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="form-group green-border">
                    <textarea {{rows['ta1']}} id="ta1" name="ta1" class="form-control">{{ rows['task1'] }}</textarea>
                    <input id="cb1" type="checkbox" value="cb1" {{rows['cb1']}}/>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group green-border">
                    <textarea {{rows['ta2']}} id="ta2" name="ta2" class="form-control">{{ rows['task2'] }}</textarea>
                    <input id="cb2" type="checkbox" value="cb2" {{rows['cb2']}}/>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group green-border">
                    <textarea {{rows['ta3']}} id="ta3" name="ta3" class="form-control">{{ rows['task3'] }}</textarea>
                    <input id="cb3" type="checkbox" value="cb3" {{rows['cb3']}}/>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group green-border">
                    <textarea {{rows['ta4']}} id="ta4" name="ta4" class="form-control">{{ rows['task4'] }}</textarea>
                    <input id="cb4" type="checkbox" value="cb4" {{rows['cb4']}}/>
                </div>
            </div>
        </div>
        <div id="row2" class="row">
            <div class="col-3">
                <div class="time-control">
                    1200
                </div>
            </div>
            <div class="col-3">
                <div class="time-control">
                    1300
                </div>
            </div>
            <div class="col-3">
                <div class="time-control">
                    1400
                </div>
            </div>
            <div class="col-3">
                <div class="time-control">
                    1500
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="form-group green-border">
                    <textarea {{rows['ta5']}} id="ta5" name="ta5" class="form-control">{{ rows['task5'] }}</textarea>
                    <input id="cb5" type="checkbox" value="cb5" {{rows['cb5']}}/>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group green-border">
                    <textarea {{rows['ta6']}} id="ta6" name="ta6" class="form-control">{{ rows['task6'] }}</textarea>
                    <input id="cb6" type="checkbox" value="cb6" {{rows['cb6']}}/>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group green-border">
                    <textarea {{rows['ta7']}} id="ta7" name="ta7" class="form-control">{{ rows['task7'] }}</textarea>
                    <input id="cb7" type="checkbox" value="cb7" {{rows['cb7']}}/>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group green-border">
                    <textarea {{rows['ta8']}} id="ta8" name="ta8" class="form-control">{{ rows['task8'] }}</textarea>
                    <input id="cb8" type="checkbox" value="cb8" {{rows['cb8']}}/>
                </div>
            </div>
        </div>
        <div id="row3" class="row">
            <div class="col-3">
                <div class="time-control">
                    1600
                </div>
            </div>
            <div class="col-3">
                <div class="time-control">
                    1700
                </div>
            </div>
            <div class="col-3">
                <div class="time-control">
                    1800
                </div>
            </div>
            <div class="col-3">
                <div class="time-control">
                    1900
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="form-group green-border">
                    <textarea {{rows['ta9']}} id="ta9" name="ta9" class="form-control">{{ rows['task9'] }}</textarea>
                    <input id="cb9" type="checkbox" value="cb9" {{rows['cb9']}}/>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group green-border">
                    <textarea {{rows['ta10']}} id="ta10" name="ta10" class="form-control">{{ rows['task10'] }}</textarea>
                    <input id="cb10" type="checkbox" value="cb10" {{rows['cb10']}}/>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group green-border">
                    <textarea {{rows['ta11']}} id="ta11" name="ta11" class="form-control">{{ rows['task11'] }}</textarea>
                    <input id="cb11" type="checkbox" value="cb11" {{rows['cb11']}}/>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group green-border">
                    <textarea {{rows['ta12']}} id="ta12" name="ta12" class="form-control">{{ rows['task12'] }}</textarea>
                    <input id="cb12" type="checkbox" value="cb12" {{rows['cb12']}}/>
                </div>
            </div>
        </div>
        <div id="row4" class="row">
            <div class="col-3">
                <div class="time-control">
                    2000
                </div>
            </div>
            <div class="col-3">
                <div class="time-control">
                    2100
                </div>
            </div>
            <div class="col-3">
                <div class="time-control">
                    2200
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="form-group green-border">
                    <textarea {{rows['ta13']}} id="ta13" name="ta13" class="form-control">{{ rows['task13'] }}</textarea>
                    <input id="cb13" type="checkbox" value="cb13" {{rows['cb13']}}/>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group green-border">
                    <textarea {{rows['ta14']}} id="ta14" name="ta14" class="form-control">{{ rows['task14'] }}</textarea>
                    <input id="cb14" type="checkbox" value="cb14" {{rows['cb14']}}/>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group green-border">
                    <textarea {{rows['ta15']}} id="ta15" name="ta15" class="form-control">{{ rows['task15'] }}</textarea>
                    <input id="cb15" type="checkbox" value="cb15" {{rows['cb15']}}/>
                </div>
            </div>
            <div class="col-3">
                <button class="btn btn-primary btn-lg" type="submit">Update your day</button> 
        </div>
    </form>

    <script>
        var d = new Date();
        var date = d.getDate();
        var month =  d.getMonth();
        var year = d.getFullYear();
        var dateString = year + "/" + (month+1) + "/" + date;
        document.getElementById('date').innerHTML = dateString;
        
        document.getElementById('cb1').addEventListener('click', function() {
            var textArea = document.getElementById('ta1')
            $.get("/check?condition=" + document.getElementById('cb1').checked + '&id=' + document.getElementById('cb1').value + '&ta=' + textArea.name)
            textArea.readOnly = this.checked;
            setTimeout(function() {
            $('#score_refresh').load(location.href+" #score_refresh>*","");
        }, 500);
        });

        document.getElementById('cb2').addEventListener('click', function() {
            var textArea = document.getElementById('ta2')
            $.get("/check?condition=" + document.getElementById('cb2').checked + '&id=' + document.getElementById('cb2').value + '&ta=' + textArea.name)
            textArea.readOnly = this.checked;
            setTimeout(function() {
            $('#score_refresh').load(location.href+" #score_refresh>*","");
        }, 500);
        });

        document.getElementById('cb3').addEventListener('click', function() {
            var textArea = document.getElementById('ta3')
            $.get("/check?condition=" + document.getElementById('cb3').checked + '&id=' + document.getElementById('cb3').value + '&ta=' + textArea.name)
            textArea.readOnly = this.checked;
            setTimeout(function() {
            $('#score_refresh').load(location.href+" #score_refresh>*","");
        }, 500);
        });

        document.getElementById('cb4').addEventListener('click', function() {
            var textArea = document.getElementById('ta4')
            $.get("/check?condition=" + document.getElementById('cb4').checked + '&id=' + document.getElementById('cb4').value + '&ta=' + textArea.name)
            textArea.readOnly = this.checked;
            setTimeout(function() {
            $('#score_refresh').load(location.href+" #score_refresh>*","");
        }, 500);
        });

        document.getElementById('cb5').addEventListener('click', function() {
            var textArea = document.getElementById('ta5')
            $.get("/check?condition=" + document.getElementById('cb5').checked + '&id=' + document.getElementById('cb5').value + '&ta=' + textArea.name)
            textArea.readOnly = this.checked;
            setTimeout(function() {
            $('#score_refresh').load(location.href+" #score_refresh>*","");
        }, 500);
        });

        document.getElementById('cb6').addEventListener('click', function() {
            var textArea = document.getElementById('ta6')
            $.get("/check?condition=" + document.getElementById('cb6').checked + '&id=' + document.getElementById('cb6').value + '&ta=' + textArea.name)
            textArea.readOnly = this.checked;
            setTimeout(function() {
            $('#score_refresh').load(location.href+" #score_refresh>*","");
        }, 500);
        });

        document.getElementById('cb7').addEventListener('click', function() {
            var textArea = document.getElementById('ta7')
            $.get("/check?condition=" + document.getElementById('cb7').checked + '&id=' + document.getElementById('cb7').value + '&ta=' + textArea.name)
            textArea.readOnly = this.checked;
            setTimeout(function() {
            $('#score_refresh').load(location.href+" #score_refresh>*","");
        }, 500);
        });

        document.getElementById('cb8').addEventListener('click', function() {
            var textArea = document.getElementById('ta8')
            $.get("/check?condition=" + document.getElementById('cb8').checked + '&id=' + document.getElementById('cb8').value + '&ta=' + textArea.name)
            textArea.readOnly = this.checked;
            setTimeout(function() {
            $('#score_refresh').load(location.href+" #score_refresh>*","");
        }, 500);
        });

        document.getElementById('cb9').addEventListener('click', function() {
            var textArea = document.getElementById('ta9')
            $.get("/check?condition=" + document.getElementById('cb9').checked + '&id=' + document.getElementById('cb9').value + '&ta=' + textArea.name)
            textArea.readOnly = this.checked;
            setTimeout(function() {
            $('#score_refresh').load(location.href+" #score_refresh>*","");
        }, 500);
        });

        document.getElementById('cb10').addEventListener('click', function() {
            var textArea = document.getElementById('ta10')
            $.get("/check?condition=" + document.getElementById('cb10').checked + '&id=' + document.getElementById('cb10').value + '&ta=' + textArea.name)
            textArea.readOnly = this.checked;
            setTimeout(function() {
            $('#score_refresh').load(location.href+" #score_refresh>*","");
        }, 500);
        });

        document.getElementById('cb11').addEventListener('click', function() {
            var textArea = document.getElementById('ta11')
            $.get("/check?condition=" + document.getElementById('cb11').checked + '&id=' + document.getElementById('cb11').value + '&ta=' + textArea.name)
            textArea.readOnly = this.checked;
            setTimeout(function() {
            $('#score_refresh').load(location.href+" #score_refresh>*","");
        }, 500);
        });

        document.getElementById('cb12').addEventListener('click', function() {
            var textArea = document.getElementById('ta12')
            $.get("/check?condition=" + document.getElementById('cb12').checked + '&id=' + document.getElementById('cb12').value + '&ta=' + textArea.name)
            textArea.readOnly = this.checked;
            setTimeout(function() {
            $('#score_refresh').load(location.href+" #score_refresh>*","");
        }, 500);
        });

        document.getElementById('cb13').addEventListener('click', function() {
            var textArea = document.getElementById('ta13')
            $.get("/check?condition=" + document.getElementById('cb13').checked + '&id=' + document.getElementById('cb13').value + '&ta=' + textArea.name)
            textArea.readOnly = this.checked;
            setTimeout(function() {
            $('#score_refresh').load(location.href+" #score_refresh>*","");
        }, 500);
        });

        document.getElementById('cb14').addEventListener('click', function() {
            var textArea = document.getElementById('ta14')
            $.get("/check?condition=" + document.getElementById('cb14').checked + '&id=' + document.getElementById('cb14').value + '&ta=' + textArea.name)
            textArea.readOnly = this.checked;
            setTimeout(function() {
            $('#score_refresh').load(location.href+" #score_refresh>*","");
        }, 500);
        });

        document.getElementById('cb15').addEventListener('click', function() {
            var textArea = document.getElementById('ta15')
            $.get("/check?condition=" + document.getElementById('cb15').checked + '&id=' + document.getElementById('cb15').value + '&ta=' + textArea.name)
            textArea.readOnly = this.checked;
            setTimeout(function() {
            $('#score_refresh').load(location.href+" #score_refresh>*","");
        }, 500);
        });

    </script>
{% endblock %}
